<p>(Taken from the monkeyuser website)</p>
<h4>About</h4>
<p>
    "MonkeyUser comics are drawn by me, Cornel. Coming up with the plotlines is not easy so 
    I'm helped by my friend Constantin. All in all it's an effort of two inappropriate 
    developers trying to make others laugh. MonkeyUser was created out of a desire to bring 
    joy to people working in IT by making life a little less boring, but mostly because it's 
    a lot of fun for us.""
    
</p>
<h4>Sharing</h4>
<p>
    "You can share and post these comics anywhere you like without telling us, as long as you link back to the site. If you want to use them in a for-profit publication you can reach us at ismonkeyuser@gmail.com and we can talk about it."
    
</p>
<h4>Printing</h4>
<p>    
    "Again you can totally do that without telling us if it's a not-for-profit thing, if it's a for-profit thing just let us know and we'll probably be fine with it. In both cases just remember to attribute the comic to monkeyuser.com"
</p>