<p>A webcomic of romance, sarcasm, math, and language.</p>
<h4>About (taken from Wikipedia)</h4>
<p>
    "The subject matter of the comic varies from statements on life and love to mathematical, programming, and scientific in-jokes. Some strips feature simple humor or pop-culture references. Although it has a cast of stick figures, the comic occasionally features landscapes, graphs, charts, and intricate mathematical patterns such as fractals. New cartoons are added three times a week, on Mondays, Wednesdays, and Fridays."
    
</p>
